    {% load static %}
<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre de la Peluquería</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

        {% include 'includes/navbar.html' %}

    <section id="inicio" class="hero-section">
        <div class="hero-content">
            <h1>Tu nuevo look te espera</h1>
            <p>Transformamos tu cabello en una obra de arte</p>
            <a href="{% url 'lista_turnos' %}" class="cta-button">Agenda tu Turno</a>
        </div>
    </section>

    <section id="servicios" class="services-section">
        <h2>Nuestros Servicios</h2>
        <div class="services-container">
            <a href="{% url 'corte' %}" style="text-decoration: none;color: black;">
            <div class="service-card">
                <i class="fas fa-cut"></i>
                <h3>Cortes</h3>
                <p>Técnicas de color, balayage y mechas para un cambio radical.</p>
            </div>
            </a>
            <a href="{% url 'coloracion' %}" style="text-decoration: none;color: black;">
            <div class="service-card">
                <i class="fas fa-brush"></i>
                <h3>Coloración</h3>
                <p>Técnicas de color, balayage y mechas para un cambio radical.</p>
            </div>
            </a>
            <a href="{% url 'tratamiento' %}" style="text-decoration: none;color: black;">
            <div class="service-card">
                <i class="fas fa-cocktail"></i>
                <h3>Tratamientos</h3>
                <p>Hidratación profunda, keratina y tratamientos capilares.</p>
            </div>
            </a>
        </div>
    </section>

    <section id="galeria" class="gallery-section">
        <h2>Nuestros Trabajos</h2>
        <div class="gallery-grid">
            <img src="{% static 'images/peinado1.jpg' %}" alt="Peinado1">
            <img src="{% static 'images/peinado2.jpg' %}" alt="Peinado 2">
            <img src="{% static 'images/peinado3.jpg' %}" alt="Peinado 3">
            <img src="{% static 'images/peinado4.webp' %}" alt="Peinado 4">
            <img src="{% static 'images/peinado5.webp' %}" alt="Peinado 5">
            <img src="{% static 'images/peinado6.jpg' %}" alt="Peinado 6">
            <img src="{% static 'images/peinado7.webp' %}" alt="Peinado 7">
            <img src="{% static 'images/peinado8.png' %}" alt="Peinado 8">
        </div>
    </section>

    <section id="contacto" class="contact-section">
        <h2>Contáctanos</h2>
        <div class="contact-container">
            <div class="contact-info">
                <h3>Información</h3>
                <p><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, Ciudad, País</p>
                <p><i class="fas fa-phone"></i> +54 9 11 1234-5678</p>
                <p><i class="fas fa-envelope"></i> info@email.com</p>
            </div>
            <div class="contact-form" method="POST">
                <form id="formulario" novalidate action="#">
                    <input type="text" name="name" placeholder="Tu Nombre" id="nombre" required>
                    <input type="email" name="email" placeholder="Tu Correo" id="email" required>
                    <textarea name="message" placeholder="Tu Mensaje" id="mensaje"required></textarea>
                    <button type="submit">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2025 Nombre del Salón. Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </footer>
        <script src="main.js" type="text/javascript"></script>
</body>
</html>